.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 40vmin;
    pointer-events: none;
}

/*.App-header {*/
/*    background-color: #282c34;*/
/*    min-height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-size: calc(10px + 2vmin);*/
/*    color: white;*/
/*}*/

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body{
  overflow-wrap: break-word;
  background-image: url("3d-perspective-style-diamond-shape-white-background_1017-27556.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  text-align:justify;
 
 
  
}



 
 
  .quizcardly{
    width: 500px;
    height: 150px;
    border: 2px solid yellow;
    border-radius: 15px;
  }

  .quizlistcardly{
    text-align: left;
width: 90%;


border-radius: 15px;
margin-top: 10px;

    
    height: 100%;
    border: 2px solid rgba(157, 255, 0, 0.404);
    border-radius: 15px;
    background-color:rgba(143, 252, 225, 0.719);
  }

  .register-card{
    width:400px;
    height:400px;

    padding-top: 150px;
    border-radius: 100%;
    
  }

  .btn-colour{
    background-color:rgb(48, 205, 245);
    color: black;
  }
  .btn-colour-2{
    background-color:rgb(69, 238, 92);
    color: black;
  }

  .colour-green{
    background-color:rgb(69, 238, 139);
    color: black;
  }

 
.posts{
  

  text-align: justify;
  background-color:#EDEEEE;
  padding: 10px;
  

  
  
}

a{
  font-size:20px;
 
}


.posts button{
  margin-right:10px;
}

.likedposts{
  

  text-align: justify;
  background-color:#EDEEEE;
  padding: 10px;
  margin: 20px;
  
}

.activeness{
  font-size:20px;
  
  color: black;
  
  margin-right: 10px;
  margin-left:10px;
  border-bottom: 5px solid #24ec24;
}

.hover:hover{
  background-color:#61fb6e;
  font-size: 20px;
}

.profile_placement div {
float:left;
height: 100%;
  
}

.avatar{
  width:50%;
  padding-left:5px;
  height:50%;
  
  border-radius: 15px;
}

.profile{
  text-align: left;
  width: 70%;
  height: 110%;
  
  border-radius: 15px;
  
  background-color:#EDEEEE;
  
}
/* .profile h4 {
  float:left;
  margin-right:100px;
  padding: 1%;
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
} */



.branches{
  margin-bottom:10px;
text-align: center;
  width: 100%;
 
  
}

.batches{
  text-align: center;
  width: 250px;
  display: inline-block;
  margin: 10px ;

  border-radius: 10px;
  background-color:#EDEEEE;
  height:250px;
  
 
  
}
.branches buttons {


  height:200px;
  overflow-wrap: break-word;
  border-color: white;
}

  


.courses{
  margin-bottom:10px;
text-align: center;
  width: 100%;
  height:80%;
 
  
}
.courses buttons {


  height:200px;
  overflow-wrap: break-word;
  border-color: white;
}



.crs{
  
  padding: 5px ; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
 margin-bottom:20px;
  overflow-wrap: break-word;
  text-align: center;
  background-color:white;
}

.btn-group button {
  
  padding: 5px ; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
 margin-bottom:20px;
  overflow-wrap: break-word;
  text-align: center;
  width: 100%;
}

.editposts button {
  
  padding: 5px ; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */

 width: 50%;
  overflow-wrap: break-word;
  text-align: center;
}



.radius{
  border-radius: 70%;
  background-color: #161a39;
  
  
}






#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

.margin{
  margin-bottom: 10px;
}











.studentquizcardly{
  text-align: left;
width: 80%;
height: 110%;
border: 2px solid rgb(223, 243, 149);
border-radius: 15px;
margin-top: 10px;
background-color:rgba(236, 252, 9, 0.336);
}

li {
  float: left;
text-align: center;
align-items: center;
  overflow-wrap: break-word;
}

/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
} */
h4{
  overflow-wrap: break-word;
}
h3{
  overflow-wrap: break-word;
}
h5{
  overflow-wrap: break-word;
 
  padding:20px;
}


i{
 
  float:right;
}



.editpostsdetails div{
  width: 50%;
  float:left;
}
.editposts button{
  width:12.5%;
  float:left;
  margin-top: 20px;
}
